.inside-page {padding-top: 7%;min-height: 55vh;}
body.home.contact .csi-container .csi-header-bottom, body.home.news .csi-container .csi-header-bottom{margin-top: 0;background: rgba(33,39,57,.95);}
body.home.contact .csi-header .csi-navbar .csi-nav, body.home.news .csi-header .csi-navbar .csi-nav {margin-top: 0.6rem;}
body.home.contact .csi-header .menu-onscroll, body.home.news .csi-header .csi-navbar .csi-nav {-webkit-animation-name: unset;animation-name: unset;-webkit-transform-origin: unset;transform-origin:  unset;animation-duration: unset;}
body{overflow-x: hidden}


.container.profile{width: 100%;}
select {width: 100%;height: 34px;}
.container.profile .col-md-6, .container.profile .col-md-12 {margin-bottom: 20px;}
.edittext {margin-top: 20px;}

.widget-user-2 .widget-user-username, .widget-user-2 .widget-user-desc{ margin-left: 0px!important}
.scheduleitem {width:16%;float:left;padding:0px 10px}

#csi-footer .csi-inner {
    padding: 5rem 0!important;
}
.csi-footer .csi-footer-bottom {
    margin-top: 0rem!important;
}
.csi-header .menu-onscroll .csi-navbar .csi-nav li .csi-btn {

    margin-top: .6rem!important;
    padding: 0rem 1rem!important;


}
.editbtn, .addbtn{float: right;background: #eecccc;border-radius: 25px;padding: 2px;width: 25px;text-align: center;cursor: pointer;}
.editbtn{width: 35px;}
@media (min-width:1921px){
  .scheduleitem {width:14%;float:left;padding:0px 10px}
}
